<html>
  <head>
  <meta charset="utf-8">
  </head>
  <body>
    <h1> 선수등록 추가</h1>
    <form method="POST" action="/players">
      <p>player : <input type="text" name="player"></p>
      <p>team : <input type="text" name="team"></p>
      <p>age : <input type="text" name="age"></p>
      <p>nickname : <input type="text" name="nickname"></p>

      <p><input type="submit" value="추가하기"><input type="button" value="리스트로 돌아가기" onclick="location.href='/players'">
    </form>
  </body>
</html>